@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #F9FAF8;
   text-decoration: none;
   list-style-type: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10%;
     margin-bottom: 45px;
}
.header {
    cursor: pointer;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
   
}
.navlinks li a:hover {
color: aqua;
}
.everything1 {
  background-color: #1F2937;
}
.hero {
 display: flex;
align-self: center;
justify-content: center;
}
.herosecondary {
    width: 500px;
    height: auto;
    font-size: 18px;
color: #E5E7EB;
}
.hero1 {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
}
button {
 background-color: #3882F6;
display: flex;
;

}